
body{
    width: 100%;
    height: 100%;
}


.container-logo{
    margin: 2vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown content when the dropdown is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown content when the dropdown is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown content when the dropdown is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}

.start-free {
    display: inline-block;
    background: linear-gradient(90deg, blue, purple);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.start-free span {
    color: white;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aedae2;
    padding: 10px 20px;
}

.header span {
    margin-right: auto; /* Pushes the span to the left */
}

.nav {
    display: flex;
}

.nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

button {
    background-color: #ffffff;
    color: rgb(19, 3, 3);
    border: none;
    padding: 8px 16x;
    border-radius: 4px;
    cursor: pointer;
}

.container-nav {
    display: flex;
    padding: 8px 80px;
    border: none;
    
}

.dropdown {
    padding: 8px 10px;
    margin-right: 20px; /* Adjust this value to set the space between dropdown items */
}

/* Additional CSS for dropdown styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    width: 100%;
    text-align: left;
    padding: 8px 102px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}






.content-2 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 2vw;
    margin-bottom: 10vw;
    line-height: 1.5;
}

 .managing-freelance-payments-has-never-been-easier {
    font-weight: bold;
    font-size: 60px;
   
}

.group-177 {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.polygon-2 {
    margin-right: 10px;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */

}

.see-how-it-works {
    display: flex;
    align-items: center;
}

.vector-3313 {
    margin-right: 10px;
}

.free-register::before {
    content: '\2713'; /* Unicode character for tick mark */
    color: #fff;
    background-color: blue;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
}

.great-service::before {
    content: '\2713'; /* Unicode character for tick mark */
    color: #fff;
    background-color: blue;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Display container-17 in one line */
.container-197 {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 4vw;
    align-items: center;
}

/* Display group-1591 in another line */
.group-1591 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.group-153 button {
    background-color: rgb(53, 10, 245);
    color: white;
    border-radius: 30%;
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    cursor: pointer;
}



.left {
    background-color: #aedae2;
    padding:1vw; 

}

.container {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 2px; /* Gap between columns */
    padding-left: 10vw;
    padding-bottom: 0vw;
    background-color: #aedae2;
}

.right {
    
    background-color: #aedae2;
    position: relative;
    overflow: hidden; 
}

.rotate-90 {
    height: 20vw;
    width: 80vw;
    transform: rotate(90deg);
    position: absolute;
    bottom: 26vw; 
}
.rotate-180 {
    height: 14vw;
    width: 40vw;
    transform: rotate(270deg);
    position: absolute;
    bottom: 12vw; 

}


.shape {
    height:6vw ;
    width:6vw ;
    position: absolute;
    left: 41%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.circlee {
    position: absolute;
    left: 41%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 130px; /* Adjust the size of the circle */
    height: 130px; /* Adjust the size of the circle */
    background-color: #412626; /* Gray background color */
    border-radius: 50%; /* Makes the div circular */
}

.hand-design {
    position: absolute;
    bottom: 2;
    left: 0;
    width: 100px; /* Set the width of the box */
    height: 100px; /* Set the height of the box */
    /* Add other styles for the hand-design box */
}


.handdesign{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.companies{
    position: relative;
    background-color: #f2f2f2

}

.openzepline{
    display: flex;
}

.morpheus{
    display: flex;
}

.over-32{
    text-align: center;
    padding-top: 3vw;
    border-radius: 5px;
    font-size: 1.5vw;
    
}

.logos {
    padding: 3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2vw; 
    overflow-x: auto;
    gap: 6vw;
}

.logo {
    width: 8vw;
    flex: 0 0 auto; /* Allow items to shrink and grow, but don't allow them to shrink below their content size */
    max-width: 100%; /* Ensure images don't exceed their container width */
}

.smallit{

   height: 1.5vw;
   width: 1.5vw;
}


.logos img {
    max-width: 100%;
    height: auto;
    max-height: 30px; /* set max-height as needed */
    object-fit: contain; /* maintain aspect ratio */
}

.monday, .segment, .protonet {
    min-width: 8vw;
    min-height: auto;
}


.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding-left: 10vw;
   padding-top: 2vw;
    
    position: relative;;
}

.leftside{
    
    
}

.righttside{
    
    background-color: #bbcccf;
}

.automated {
    margin-bottom: 19px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 56px;
    letter-spacing: -1.7px;
    line-height: 1.179;
    color: #000000;
  }

  .belowauto {
    margin-right: 8.8px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 1.813;
    background: linear-gradient(#000000, #000000), linear-gradient(#000000, #000000);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

.rectangle {
    border-radius: 20px;
    background: #C4C4C4;
    position: relative;
    bottom: 0px;
    width: 402px;
    height: 190px;
  }

.wise-busy {
    position: absolute;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.3px;
    line-height: 1.467;
    color: #000000;
    padding-left: 2vw;
    padding-top: 1vw;
  }

.mike{
    position: absolute;
    padding-left: 2vw;
    bottom: 33px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.3px;
    line-height: 1.467;
    color: #000000;
  }

.circle {
    position: absolute;
    top: -1.5vw;
    left: 10%; 
    transform: translateX(-50%); /* Center the circle horizontally */
    width: 40px; /* Diameter of the circle */
    height: 40px; /* Diameter of the circle */
    border-radius: 50%; /* Make the circle round */
    border: 2px solid black; /* Border for the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(20, 4, 4);
}

.semicolon {
    margin-top: 1vw;
    display: inline-block; /* Ensures the rotation works correctly */
    transform: rotate(180deg); 
    font-size: 40px; /* Size of the quotation mark */
    color: rgb(244, 238, 238); /* Color of the quotation mark */
}











.value-props {
    margin: 0 117px 119px 121px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 31px;
    width: 100%;
    box-sizing: border-box;
  }

  .group-3081 {
    border-radius: 20px;
    border: 1px solid #DBE4E9;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 22px 45px 22px;
    width: 380px;
    box-sizing: border-box;
  }

  .container-17 {
    margin-bottom: 44px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 22px;
    color: #000000;
  }

  .group-3072 {
    margin: 0 20px 34px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    box-sizing: border-box;
  }

  .rectangle-1482 {
    background: var(--pallet-4-primary, #3734A9);
    width: 50px;
    height: 30px;
  }
  .rectangle-1492 {
    background: #000000;
    margin: 0 11px 5px 0;
    width: 39px;
    height: 10px;
  }
  .connect-wallets-companies {
    margin: 0 20px 17px 0;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -0.9px;
    line-height: 1.133;
    color: #000000;
  }
  .indulgence-way-everything-joy-alteration-boisterous-the-attachment-party-we-years-to-order-allow-asked-of-1 {
    margin-right: 20px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.3px;
    line-height: 1.857;
    background: linear-gradient(#64607D, #64607D), linear-gradient(#757095, #757095);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .group-309 {
    border-radius: 20px;
    border: 1px solid #DBE4E9;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 22px 45px 22px;
    width: 380px;
    box-sizing: border-box;
  }
  .container-18 {
    margin-bottom: 44px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 22px;
    color: #000000;
  }
  .group-3073 {
    margin: 0 20px 34px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    box-sizing: border-box;
  }
  .rectangle-1483 {
    background: var(--pallet-4-accent, #FF7F5C);
    width: 50px;
    height: 30px;
  }
  .rectangle-1493 {
    background: #000000;
    margin: 0 11px 5px 0;
    width: 39px;
    height: 10px;
  }
  .review-transactions {
    margin: 0 20px 17px 0;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -0.9px;
    line-height: 1.133;
    color: #000000;
  }
  .indulgence-way-everything-joy-alteration-boisterous-the-attachment-party-we-years-to-order-allow-asked-of-2 {
    margin-right: 20px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.3px;
    line-height: 1.857;
    background: linear-gradient(#64607D, #64607D), linear-gradient(#757095, #757095);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .group-310 {
    border-radius: 20px;
    border: 1px solid #DBE4E9;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 22px 45px 22px;
    width: 380px;
    box-sizing: border-box;
  }
  .container-19 {
    margin-bottom: 44px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 22px;
    color: #000000;
  }
  .group-3074 {
    margin: 0 20px 34px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    box-sizing: border-box;
  }
  .rectangle-1484 {
    background: var(--pallet-4-tone, #FDBC64);
    width: 50px;
    height: 30px;
  }
  .rectangle-1494 {
    background: #000000;
    margin: 0 11px 5px 0;
    width: 39px;
    height: 10px;
  }
  .get-income-insights {
    margin: 0 20px 17px 0;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -0.9px;
    line-height: 1.133;
    color: #000000;
  }
  .indulgence-way-everything-joy-alteration-boisterous-the-attachment-party-we-years-to-order-allow-asked-of-3 {
    margin-right: 20px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.3px;
    line-height: 1.857;
    background: linear-gradient(#64607D, #64607D), linear-gradient(#757095, #757095);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }



  .container3 {
    padding-left: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 10px; /* Gap between columns */
}

.column {
    padding: 10px;
    border: 1px solid #ddd;
}

.rectangle1 {
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.03), 0px 64.8px 46.9px 0px rgba(0, 0, 0, 0.023), 0px 38.5px 25.5px 0px rgba(0, 0, 0, 0.018), 0px 20px 13px 0px rgba(0, 0, 0, 0.015), 0px 8.1px 6.5px 0px rgba(0, 0, 0, 0.012), 0px 1.9px 3.1px 0px rgba(0, 0, 0, 0.007);
    border-radius: 10px;
    background: #FFFFFF;
    position: relative;
    margin: 0 17px 25px 17px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding: 16px 0 9px 19px;
    width: 433px;
    box-sizing: border-box;
    

}

.rectangle2{
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.03), 0px 64.8px 46.9px 0px rgba(0, 0, 0, 0.023), 0px 38.5px 25.5px 0px rgba(0, 0, 0, 0.018), 0px 20px 13px 0px rgba(0, 0, 0, 0.015), 0px 8.1px 6.5px 0px rgba(0, 0, 0, 0.012), 0px 1.9px 3.1px 0px rgba(0, 0, 0, 0.007);
    border-radius: 10px;
    background: #FFFFFF;
    position: relative;
    margin-bottom: 25px;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding: 16px 0 9px 19px;
    width: 433px;
    box-sizing: border-box;
  }
.rectangle3 {
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.03), 0px 64.8px 46.9px 0px rgba(0, 0, 0, 0.023), 0px 38.5px 25.5px 0px rgba(0, 0, 0, 0.018), 0px 20px 13px 0px rgba(0, 0, 0, 0.015), 0px 8.1px 6.5px 0px rgba(0, 0, 0, 0.012), 0px 1.9px 3.1px 0px rgba(0, 0, 0, 0.007);
    border-radius: 10px;
    background: #FFFFFF;
    position: relative;
    margin-bottom: 25px;
    margin-left: 4vw;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding: 16px 0 9px 19px;
    width: 433px;
    box-sizing: border-box;
}

.picture img {
    border-radius: 50%;
    width: auto; 
    height: auto; /* Set height for the picture */
    background-color: lightgray; /* Example background color */
}

.container-6 {
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Margin to separate from the picture */
}

.groupmoney {
    font-weight: bold;
    font-size: 18px;
}

.received {
    color: gray;
}

.column2 {
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
   .whyus {
    margin-bottom: 13px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--pallet-4-primary, #3734A9);
  }
   .track {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 50px;
    letter-spacing: -1.5px;
    line-height: 1.2;
    color: #000000;
  }

  .indulance{
    margin-bottom: 23px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.4px;
    line-height: 1.667;
    background: linear-gradient(#64607D, #64607D), linear-gradient(#505887, #505887);
    color: transparent;
    background-clip: text;
  }


 .rectanglethin {
    background: #C4C4C4;
    margin: 0 20px 27px 0;
    width: 490px;
    height: 2px;
  }


  .tickk {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between each tick item */
}



/* Additional styling for the tick text */
.tick1, .tick2, .tick3 {
    display: flex;
    align-items: center;

}


.get::before {
    content: '\2713'; /* Unicode character for tick mark */
    color: #fff;
    background-color: rgb(227, 200, 26);
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
}

