.footer {
  display: flex;
}

.column {
  flex: 1; /* Each column takes equal space */
  padding: 20px;
}

/* Remove right border from the last column */
.column:last-child {
  border-right: none;
}

.socialsite img {
  width: 2vw; 
  height: 2vw;
}

.email input[type="text"] {
  width: 200px; 
  height: 30px; 
  background-color: #dcd8d8;
  border: none;
}

.subscribe {
  background-color: rgb(89, 89, 247); 
  color: white; 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
 
  height: 32px; 
}
.weekely{

  opacity: 0.5;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.3px;
  line-height: 1.625;
  color: #181433;
  margin-top: 2vw;
}
.rectangle97 {
  background: #E5E5EA;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 2vw; ;
  width: 80%;
  height: 2px;
}

.footer-right{
  text-align: center;
  margin-left: 24px;
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.3px;
  line-height: 1.625;
  color: #181433;
}

.copyright{
  margin-top:4vw ;
}

.footer-right{
  
  text-align: center;
}