 .column2 {
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
   .whyus {
    margin-bottom: 13px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--pallet-4-primary, #3734A9);
  }
   .track {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 50px;
    letter-spacing: -1.5px;
    line-height: 1.2;
    color: #000000;
  }