.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    gap: 20px; /* Gap between columns */
    padding: 20px; /* Padding for the container */
}

.left {
    background-color: #f2f2f2; /* Background color for the left column */
    padding: 20px; /* Padding for the left column */
}

.right {
    background-color: #e6e6e6; /* Background color for the right column */
    padding: 20px; /* Padding for the right column */
}

.saa-slanding-page .container-29 {
    margin: 0 19.4px 118.4px 19.4px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }